.compétences {
   background: linear-gradient(
    to bottom, /* ou to right, to top, selon ton effet */
    white,
    #ADD8E6 
  );
  padding-bottom: 5%;
    h2{
        padding-top: 5%;
        padding-bottom: 3%;
    }
}

.section {
    padding-top: 50px;
}
    
.section-title {
    display: flex;
    justify-content: center;
    color: #333;
    font-size: 25px;
    margin-bottom: 3%;
    font-weight: bold;
}

@media (max-width: 768px) {

    .main-competences{
        padding: 40px;
        width: 90%;
    }

    .competences {
        flex-direction: column;
        padding: 0;
        border-radius: 0px;
        padding-bottom: 30px;
    }

    .section {
        padding: 20px 20px;
    }

    .competences h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
      
    .competences p {
        font-size: 14px;
    }

    
    .competences img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
        border-radius: 5px;
        box-shadow: none;
    }

    .section-title {
        font-size: 15px;
    }

}