.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #000; /* noir exemple */
  color: #fff; /* blanc texte */
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer a {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer a:hover {
  color: #346392; /* bleu marine foncé */
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start; /* ALIGNE TOUT À GAUCHE */
    text-align: left;        /* TEXTE À GAUCHE */
  }

  .footer-column {
    width: 100%;
    margin: 10px 0;
  }
}

.footer i {
    margin-right: 8px;
    color: black;
}

.contact-section, .social-section {
    flex: 1;
    padding: 0 20px;
}

.social-link .fa-instagram {
    color: #E4405F;
}

.social-link .fa-x-twitter {
    color: #1DA1F2;
}

.social-link .fa-youtube {
    color: #FF0000;
}

.social-link .fa-threads {
    color: #000000;
}

.contact-link .fa-envelope {
    color: #000000;
}

.contact-item .fa-phone {
    color: black;
}

